- name: Setup
  hosts: myhosts
  vars:
    editor: vim
    git_user_name: Your Name
    git_user_email: your.email@example.com
    zerotier_network_id: your_zerotier_network_id
  tasks:
    - name: Initial setup
      ansible.builtin.include_tasks:
        file: tasks/initial_setup.yaml

    - name: Git
      ansible.builtin.include_tasks:
        file: tasks/git.yaml

    - name: SSH
      ansible.builtin.include_tasks:
        file: tasks/ssh.yaml

    - name: ZeroTier
      ansible.builtin.include_tasks:
        file: tasks/zerotier.yaml

    - name: Docker
      ansible.builtin.include_tasks:
        file: tasks/docker.yaml
