---
- name: Setup Raspberry Pi
  hosts: myhosts
  gather_facts: true
  vars:
    ssh_port: 22 # Set to a different port for additional security
    install_zerotier: false # Set to false to skip ZeroTier installation
    zerotier_network_id: your_zerotier_network_id
    install_dotfiles: false # Set to true to setup dotfiles from repository
    dotfiles_repo: https://github.com/skmpf/dotfiles.git # Repository to clone dotfiles from

  tasks:
    - name: Initial system setup
      ansible.builtin.include_tasks:
        file: tasks/initial_setup.yaml

    - name: Secure SSH configuration
      ansible.builtin.include_tasks:
        file: tasks/ssh.yaml

    - name: Install Docker CE
      ansible.builtin.include_tasks:
        file: tasks/docker.yaml

    - name: Install and configure ZeroTier
      ansible.builtin.include_tasks:
        file: tasks/zerotier.yaml
      when: install_zerotier | default(true) | bool

    - name: Setup dotfiles
      ansible.builtin.include_tasks:
        file: tasks/dotfiles.yaml
      when: install_dotfiles | default(false) | bool
