---
- name: Setup editor
  ansible.builtin.git_config:
    name: core.editor
    scope: global
    value: "{{ editor}}"

- name: Setup name
  ansible.builtin.git_config:
    name: user.name
    scope: global
    value: "{{ git_user_name }}"

- name: Setup email
  ansible.builtin.git_config:
    name: user.email
    scope: global
    value: "{{ git_user_email }}"
