---
- name: Update apt-get repo and cache
  become: true
  ansible.builtin.apt:
    update_cache: yes
    cache_valid_time: 3600

- name: Upgrade all apt packages
  become: true
  ansible.builtin.apt:
    upgrade: dist

- name: Install required packages
  become: true
  ansible.builtin.apt:
    name:
      - git
      - tmux
      - curl
      - wget
      - fzf
      - unzip
      - mosh
    state: present

- name: Schedule weekly update and upgrade
  become: true
  ansible.builtin.cron:
    name: "Automatic system updates"
    minute: "0"
    hour: "4"
    weekday: "0"
    job: "apt-get update -qq && apt-get dist-upgrade -qq -y"
    user: root
